<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- O arquivo global.css serve para pegar estilos globais, como, o input, button, etc, portanto, sempre que criar uma pagina importe ele -->
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/home.css}" />
    <title>Cassino Dom Pedro I</title>
  </head>
  <body></body>
</html>
